body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: rgb(52, 52, 52);
  color: azure;
}
.jumbotron {
  background-color: rgb(42, 42, 42);
}
img{
  height: 200px;
}
.messages {
  /* display: grid; */
  /* grid-template-areas:
  'a'
  ; */
}
.message {
  /* grid-area: a; */
}
.platform {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 8px 0;
}

.platform h4 {
  margin: 0 0 5px;
}

.platform button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-right: 6px;
}